
@Html.Partial("_Menu")

<h1>Obtener Informe</h1>
<form action="ObtenerInforme" method="get">
    <div class="form-group">
        <label for="mes">Mes de informe: </label>
        <input type="month" class="form-control" for="mes" name="mes" placeholder="Ingrese mes de Informe" required />
    </div>
    <button type="submit" class="btn btn-dark">Obtener Informe</button>
</form>
<hr />
@if (@ViewBag.message != null)
{
<div class="alert alert-dark" role="alert">
    @ViewBag.message
</div>}
else if (@ViewBag.informe.Count > 0)
{
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Fecha de Ingreso</th>
            <th scope="col">Uso</th>
            <th scope="col">Categoria</th>
            <th scope="col">Precio Compra</th>
            <th scope="col">Precio Venta</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Domain.Producto.Producto p in ViewBag.informe)
        {
        <tr>
            <th scope="row">@p.Id</th>
            <td>@p.Nombre</td>
            <td>@p.Descripcion</td>
            <td>@p.FechaIngreso</td>
            <td>@p.TiempoDeUso</td>
            <td>@p.TipoProducto.Nombre</td>
            <td>@p.PrecioCompra</td>
            <td>@p.PrecioVenta</td>
            <td>@p.Estado</td>
        </tr>
}
    </tbody>
</table>
}
else
{
    <div class="alert alert-warning" role="alert">
        No hay productos para mostrar
    </div>
}

