

@Html.Partial("_Menu")

<h1>Productos En Venta</h1>
@if (ViewBag.ErrorMessage != null)
{
<div class="alert alert-danger m-3" role="alert">
    @ViewBag.ErrorMessage
</div>}
else
{
if (ViewBag.productosEnVenta.Count == 0)
{
    <div class="alert alert-warning mt-2" role="alert">
        No hay productos en venta
    </div>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Fecha de Ingreso</th>
            <th scope="col">Uso</th>
            <th scope="col">Categoria</th>
            <th scope="col">Precio Compra</th>
            <th scope="col">Precio Venta</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Domain.Producto.Producto p in ViewBag.productosEnVenta)
        {
<tr>
    <th scope="row">@p.Id</th>
    <td>@p.Nombre</td>
    <td>@p.Descripcion</td>
    <td>@p.FechaIngreso</td>
    <td>@p.TiempoDeUso</td>
    <td>@p.TipoProducto.Nombre</td>
    <td>@p.PrecioCompra</td>
    <td>@p.PrecioVenta</td>
    <td>@p.Estado</td>
</tr>}
    </tbody>
</table>}
            }
