

<h1>Poner Producto En Venta</h1>
<form action="ProductosEnVenta" method="post">
    <div class="form-group">
        <label for="producto">Producto</label>
        <select class="form-control" id="producto" name="id">
            @foreach (Domain.Producto.Producto p in ViewBag.productos)
            {
                <option value="@p.Id">@p.Id @p.Nombre, categoria: @p.Categoria </option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="precio">Precio de Venta: </label>
        <input type="number" class="form-control" id="precio" name="precio" placeholder="Ingrese el precio del producto" required>
    </div>
    <button type="submit" class="btn btn-dark">Poner En Venta</button>
</form>
<hr />
@if (ViewBag.message != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.message
    </div>
}
<hr />
<h3>Productos En Venta</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Fecha Ingreso</th>
            <th scope="col">Marca</th>
            <th scope="col">Referencia</th>
            <th scope="col">Categoria</th>
            <th scope="col">Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Domain.Producto.Producto p in ViewBag.productosEnVenta)
        {
            <tr>
                <th scope="row">@p.Id</th>
                <td>@p.Descripcion</td>
                <td>@p.FechaIngreso</td>
                <td>@p.Marca</td>
                <td>@p.Referencia</td>
                <td>@p.Categoria</td>
                <td>@p.Precio</td>
            </tr>
        }
    </tbody>
</table>
